
@import "../../partial";


.button {
  width: 38%;
  height: 2.8em;
  display: block;
  font-size: 2em;
  color: $WhiteColor;
  background-color: $ButtonBGColor;
  border: none;
  margin: 2em auto 0;
  border-top-left-radius: 1.4em 50%;
  border-bottom-left-radius: 1.4em 50%;
  border-top-right-radius: 1.4em 50%;
  border-bottom-right-radius: 1.4em 50%;
}

.button:hover {
  cursor: pointer;
}