
@import "../../partial";

.password {
  width: 85%;
  height: 4em;
  display: flex;
  margin: 1.8em auto 0;
  border: .1em solid $TextColor;
  @include border-radius;
}

.pasword:focus {
  border: .1em solid $InputColor;
}

@include error;