
@import "../partial";


    /* LAYOUT */

.wrapper {
  max-width: 100%;
  min-height: 100vh;
  background-color: $backgroundPrimaryColor;
  display: grid;
  grid-template-columns: auto 50em auto;
  grid-template-rows: auto 46em auto;

   /* Header */

  &__form {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  position: relative;
    &--heading {
      font-family: $primaryFont;
      font-size: 3.6em;
      height: auto;
      margin: .7em 0 4rem 0;
      color: $textPrimaryColor;
      text-align: center;
    }
    &--reset {
      display: block;
      font-family: $primaryFont;
      font-size: 1.7em;
      text-align: center;
      width: 50%;
      height: auto;
      margin: 1.5em auto 0;
    }
  }
}
