
@import "../../partial";

.email {
  width: 95%;
  height: 6rem;
  font-size: 1.8rem;
  display: flex;
  margin: 0 auto 3rem;
  border: .1rem solid $textPrimaryColor;
  @include border-radius;
}

.email:focus {
  border: .1rem solid $inputBorderColor;
}
