

$primaryFont: Arial;

$backgroundPrimaryColor: #fcf8f2;
$textPrimaryColor: #968d7c; 
$buttonBGColor: #100b5f;
$inputBorderColor: #0e00ff;
$colorNeutral: #ffffff;
$colorSuccess: #4BB543;
$colorError: #FF0000;

@mixin border-radius {
  border-top-left-radius: 3rem 50%;
  border-bottom-left-radius: 3rem 50%;
  border-top-right-radius: 3rem 50%;
  border-bottom-right-radius: 3rem 50%;
}

@mixin error {
  .error {
    width: 85%;
    height: 4em;
    display: flex;
    margin: 3.5em auto 0;
    border: .2em solid $colorError;
    @include border-radius;
  }
  #pass.error {
    margin: 1.8em auto 0;
  }
}